<header>
  <div class="container">
      <div class="navbar navbar-default">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <div class="logo">
                  <h1><a href="/" class="entry-title"><span class="bold color"><img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">Welcome to my Angular skill demo site</span></a></h1>
                  <p class="meta">Angular, Bootstrap and more...</p>
              </div>

          </div>
          <div class="navbar-collapse in" style="height: auto;">
              <ul class="nav navbar-nav navbar-right" style="margin-top:40px">
                <li [class.active]="router.url == '/'"><a routerLink="">Home</a></li>
                <li ><a href="https://github.com/dingnan/angular7-demo">Github repository</a></li>    
                <li ><a href="https://www.linkedin.com/in/dingnan/">LinkedIn</a></li>
                <li [class.active]="router.url == '/about'"><a routerLink="about">About</a></li>
              </ul>
          </div>
      </div>
  </div>
</header>